@model Serwis.Models.Repair_status

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Klient
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ImięNazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_rozpoczęcia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_rozpoczęcia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_zakończenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_zakończenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis_naprawy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis_naprawy)
        </dd>
        <br />
       
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Powrót", "Index")
</p>
